@page "/counter"

<h1>Contador</h1>

<p>Contagem Atual: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Clique Aqui!</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
