@page "/"

<h1>Seja bem vindo!</h1>

<p>Essa é nossa primeira aplicação utilizando a ferramenta Blazor.</p><br />

<p>Desenvolvido por: Isabelle Cristine, Nilmar Miglioli e Thálice Lopes.</p><br />

<p>Digite suas tarefas abaixo:</p>

<div class="row">
    <div class="col-6">
        <ToDoList.Pages.Components.ToDo HeaderName="Tarefas Diárias">

        </ToDoList.Pages.Components.ToDo>
    </div>
    <div class="col-6">
        <ToDoList.Pages.Components.ToDo HeaderName="Tarefas Mensais">

        </ToDoList.Pages.Components.ToDo>
    </div>
</div>



